<div ng-if="!(pccName && datacenterId)">
<div class="p-a white lt box-shadow ng-scope">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="m-b-0 _300 ng-binding">vScope</h4>
            <small class="text-muted">Choose your Private Cloud datacenter</small>
        </div>
    </div>
</div>
<div class="padding">
    <div class="row">
        <div ng-repeat="(pccName, pcc) in pccs">
            <div class="col-xs-12 col-sm-6" ng-repeat="(datacenterId, datacenter) in pcc.datacenters">
                <div class="box p-a">
                    <div class="pull-left m-r">
                        <span class="w-48 rounded accent"><i class="material-icons">&#xe2c2;</i></span>
                    </div>
                    <a class="block clear" ui-sref="pccDc({ pccName: pccName, datacenterId: datacenterId })">
                        <h4 class="m-a-0 text-lg _300">{{pccName}} - {{datacenter.name}}</h4>
                        <small class="text-muted">
                            {{datacenter.commercialRangeName}} - {{pcc.managementInterface}} {{pcc.version.major}} {{pcc.version.minor}}<br />
                            {{pcc.description}}<br />
                            {{datacenter.description}}
                        </small>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="!(pccs | toArray:true).length">
            <div class="col-xs-12 col-sm-12">
                <h4 class="m-a-0 text-lg _300">No Private Cloud</h4>
                <small class="text-muted">
                    No Private Cloud found on this OVH account 
                </small>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-if="(pccName && datacenterId)">
    <div class="p-a white lt box-shadow ng-scope">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left m-r">
                    <span class="w-48 rounded accent"><i class="material-icons">&#xe2c2;</i></span>
                </div>
                <div class="block clear">
                    <h4 class="m-b-0 _300 ng-binding">{{pccName}} - {{pccs[pccName].datacenters[datacenterId].name}}</h4>
                    <small class="text-muted">
                        {{pccs[pccName].datacenters[datacenterId].commercialRangeName}} - {{pccs[pccName].managementInterface}} {{pccs[pccName].version.major}} {{pccs[pccName].version.minor}}<br />
                        {{pccs[pccName].description}}<br />
                        {{pccs[pccName].datacenters[datacenterId].description}}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="box">
                    <div class="box-header">
                        <span class="label danger pull-right">{{datastores.length}}</span>
                        <h3>Datastores</h3>
                        <div class="row">
                            <div class="col-xs-6">
                                <div ui-jp="chart" ui-options="{
                                    series:[{
                                        name:'Space usage',
                                        type:'gauge',
                                        splitNumber:5,
                                        axisLine:{
                                            lineStyle:{
                                                color:[[0.20,'#a2da7a'],[0.40,'#d8da7a'],[0.60,'#d8ba7a'],[0.80,'#d89a7a'],[1,'#d87a7a']],
                                            }
                                        },
                                        title:{textStyle:{color:'#ccc',fontSize:12}},
                                        detail:{formatter:'{value} %',textStyle:{fontSize:24,}},
                                        data:[{value:{{gaugesValues('datastores-usage')|number:0}},name:'Space usage'}]
                                    }]
                                }" style="height:220px"></div>
                            </div>
                            <div class="col-xs-6">
                                <div ui-jp="chart" ui-options="{
                                    series:[{
                                        name:'Space provisionned',
                                        type:'gauge',
                                        splitNumber:5,
                                        axisLine:{
                                            lineStyle:{
                                                color:[[0.20,'#a2da7a'],[0.40,'#d8da7a'],[0.60,'#d8ba7a'],[0.80,'#d89a7a'],[1,'#d87a7a']],
                                            }
                                        },
                                        title:{textStyle:{color:'#ccc',fontSize:12}},
                                        detail:{formatter:'{value} %',textStyle:{fontSize:24,}},
                                        data:[{value:{{gaugesValues('datastores-provisionned')|number:0}},name:'Space provisionned'}]
                                    }]
                                }" style="height:220px"></div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-condensed" style="font-size:90%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Profile</th>
                                <th>Billing</th>
                                <th>VM</th>
                                <th>Space Usage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(datastoreId, datastore) in datastores | orderBy:'name'">
                                <td>
                                    {{ datastore.filerId }}
                                </td>
                                <td title="State : {{datastore.state}} - Profile : {{datastore.profile}}">
                                    <i class="fa fa-circle" ng-class="getDatastoreStateClass(datastore)"></i> &nbsp;
                                    {{datastore.name || 'pcc-00'+datastoreId }}
                                    <i ng-if="datastore.isGlobal" class="fa fa-globe text-blue" title="Global"></i>
                                </td>
                                <td>
                                    <small>{{datastore.fullProfile}}</small>
                                </td>
                                <td><small>{{datastore.billingType}}</small></td>
                                <td>{{datastore.vmTotal}}</td>
                                <td>
                                    <div ng-if="datastore.size.unit" title="Provisionned : {{datastore.spaceProvisionned | number : 0}} of {{(datastore.spaceUsed + datastore.spaceFree) | number : 0}} {{datastore.size.unit}}">
                                        <div ui-jp="sparkline" ui-refresh="datastore.spaceFree" ui-options="[ {{datastore.spaceFree | number : 2}}, {{datastore.spaceUsed | number : 2}} ], {type:'pie', height:19, sliceColors:['#cccccc','#fcc100']}" class="sparkline inline"></div>
                                        {{datastore.spaceUsed | number : 0}} <small>of</small> {{(datastore.spaceUsed + datastore.spaceFree) | number : 0}} <small>{{datastore.size.unit}}</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="box">
                    <div class="box-header">
                        <span class="label danger pull-right">{{hosts.length}}</span>
                        <h3>Hosts</h3>
                        <div class="row">
                            <div class="col-xs-6">
                                <div ui-jp="chart" ui-options="{
                                    series:[{
                                        name:'CPU usage',
                                        type:'gauge',
                                        splitNumber:5,
                                        axisLine:{
                                            lineStyle:{
                                                color:[[0.20,'#a2da7a'],[0.40,'#d8da7a'],[0.60,'#d8ba7a'],[0.80,'#d89a7a'],[1,'#d87a7a']],
                                            }
                                        },
                                        title:{textStyle:{color:'#ccc',fontSize:12}},
                                        detail:{formatter:'{value} %',textStyle:{fontSize:24,}},
                                        data:[{value:{{gaugesValues('hosts-cpu')|number:0}},name:'CPU usage'}]
                                    }]
                                }" style="height:220px"></div>
                            </div>
                            <div class="col-xs-6">
                                <div ui-jp="chart" ui-options="{
                                    series:[{
                                        name:'RAM usage',
                                        type:'gauge',
                                        splitNumber:5,
                                        axisLine:{
                                            lineStyle:{
                                                color:[[0.20,'#a2da7a'],[0.40,'#d8da7a'],[0.60,'#d8ba7a'],[0.80,'#d89a7a'],[1,'#d87a7a']],
                                            }
                                        },
                                        title:{textStyle:{color:'#ccc',fontSize:12}},
                                        detail:{formatter:'{value} %',textStyle:{fontSize:24,}},
                                        data:[{value:{{gaugesValues('hosts-ram')|number:0}},name:'RAM usage'}]
                                    }]
                                }" style="height:220px"></div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-condensed" style="font-size:90%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Billing</th>
                                <th>Cores</th>
                                <th>vCPU</th>
                                <th>VM</th>
                                <th>CPU Usage</th>
                                <th>RAM Usage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(hostId, host) in hosts | orderBy:'name'">
                                <td>{{ host.hostId }}</td>
                                <td title="Rack : {{host.rack}} - State : {{host.state}} - Connexion state : {{host.connectionState}} - In maintenance : {{(host.inMaintenance)?'yes':'no'}}">
                                    <i class="fa fa-circle" ng-class="getHostStateClass(host)"></i> &nbsp;
                                    {{host.name || 'host'+hostId }}
                                </td>
                                <td>{{host.profile}}</td>
                                <td><small>{{host.billingType}}</small></td>
                                <td>{{host.cpuNum}}</td>
                                <td>{{host.vmVcpuTotal}}</td>
                                <td>{{host.vmTotal}}</td>
                                <td>
                                    <div ng-if="host.cpuMax">
                                        <div ui-jp="sparkline" ui-refresh="host.cpuUsed" ui-options="[ {{((host.cpuMax/1000)-(host.cpuUsed/1000)) | number : 2}}, {{(host.cpuUsed/1000) | number : 2}} ], {type:'pie', height:19, sliceColors:['#cccccc','#fcc100']}" class="sparkline inline"></div>
                                        {{host.cpuUsed/1000 | number : 1}} <small>of</small> {{host.cpuMax/1000 | number : 0}} <small>{{host.cpu.unit}}</small>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="host.memoryUsed">
                                        <div ui-jp="sparkline" ui-refresh="host.memoryUsed" ui-options="[ {{(host.ram.value-(host.memoryUsed/1024)) | number : 2}}, {{(host.memoryUsed/1024) | number : 2}} ], {type:'pie', height:19, sliceColors:['#cccccc','#fcc100']}" class="sparkline inline"></div>
                                        {{host.memoryUsed/1024 | number : 0}} <small>of</small> {{host.ram.value | number : 0}} <small>{{host.ram.unit}}</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <span class="label danger pull-right">{{(virtualmachines | toArray:true).length}}</span>
                        <h3>Virtual Machines</h3>
                        Virtual Machines in the infrastructure
                    </div>
                    <table class="table table-striped table-condensed" style="font-size:90%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Host</th>
                                <th>Filers</th>
                                <th><abbr title="Snapshots">Snap</abbr></th>
                                <th><abbr title="VMWare Tools">Tools</abbr></th>
                                <th><abbr title="Veeam Backup option">Backup</abbr></th>
                                <th><abbr title="Fault tolerance">FT</abbr></th>
                                <th>RAM</th>
                                <th>vCPU</th>
                                <th>CPU</th>
                                <th><abbr title="CPU Ready">Ready</abbr></th>
                                <th><abbr title="Network TX/RX">Net TX/RX</abbr></th>
                                <th><abbr title="Disk R/W">Disk R/W</abbr></th>
                                <th><abbr title="Disk IOs R/W">IO R/W</abbr></th>
                                <th><abbr title="Disk latency R/W">Latency R/W</abbr></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="virtualmachine in virtualmachines | toArray:true | orderBy:'name'">
                                <td>{{ virtualmachine.vmId }}</td>
                                <td title="State : {{virtualmachine.powerState}} - MoRef : {{virtualmachine.moRef}}">
                                    <i class="fa fa-circle" ng-class="getVirtualMachineStateClass(virtualmachine)" title=""></i> &nbsp;
                                    {{ virtualmachine.name }}
                                </td>
                                <td colspan="4" ng-if="virtualmachine.powerState == 'deleted'" class="text-center text-black-lt">
                                    <i>Virtual machine removed</i>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'">
                                    <small>{{virtualmachine.hostName}}</small>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'">
                                    <div ng-if="virtualmachine.filers" ng-repeat="filer in virtualmachine.filers | orderBy:'name'" class="inline m-r">
                                        <div ng-repeat="disk in filer.disks" class="inline" ng-if="disk.capacity" title="Filer {{(filer.name.substring(0, 13) == 'storageLocal_')?'local':filer.name}} : {{filer.committed/1024 | number : 1}} of {{disk.capacity/1024 | number : 0}} GB">
                                            <div ui-jp="sparkline" ui-refresh="disk.capacity" ui-options="[ {{(filer.committed/1024) | number : 2}}, {{((disk.capacity/1024)-(filer.committed/1024)) | number : 2}} ], {type:'pie', height:19, sliceColors:['#fcc100','#cccccc']}" class="sparkline inline"></div>
                                            <small>{{(filer.name.substring(0, 13) == 'storageLocal_')?'local':filer.name}}</small>
                                        </div>
                                    </div>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'">
                                    <span class="label" ng-class="(virtualmachine.snapshotNum)?'red':'green'">{{virtualmachine.snapshotNum}}</span>
                                </td>
                                <td title="VMWare Tools : {{virtualmachine.vmwareTools}} - {{virtualmachine.vmwareToolsVersion}}" ng-if="virtualmachine.powerState != 'deleted'">
                                    <span class="label" ng-class="getVirtualMachineVmwareToolsData('class', virtualmachine)">
                                        <i class="fa" ng-class="getVirtualMachineVmwareToolsData('icon', virtualmachine)"></i>
                                    </span>
                                </td>
                                <td title="Backup : {{virtualmachine.backup.state || 'removed'}} - Restore points : {{(virtualmachine.backup.restorePoints | toArray:true).length || 0}}">
                                    <span class="label" ng-class="getVirtualMachineBackupClass(virtualmachine)">
                                        <i class="fa" ng-class="getVirtualMachineBackupIcon(virtualmachine)"></i> 
                                        <span ng-if="virtualmachine.backup && virtualmachine.backup.state != 'removed'">
                                            <span ng-if="virtualmachine.backup.restorePoints == null">
                                                ...
                                            </span> 
                                            <span ng-if="virtualmachine.backup.restorePoints != null">
                                                {{(virtualmachine.backup.restorePoints | toArray).length}}
                                            </span>
                                        </span> 
                                    </span>
                                </td>
                                <td colspan="9" ng-if="virtualmachine.powerState == 'deleted'" class="text-center text-black-lt">
                                    <i>Virtual machine removed</i>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'" title="Fault Tolerance : {{virtualmachine.stateFt}}">
                                    <i class="fa fa-circle" ng-class="getVirtualMachineFtClass(virtualmachine)"></i>
                                </td>
                                <td title="RAM usage : {{virtualmachine.memoryUsed/1024 | number : 2}} of {{virtualmachine.memoryMax/1024 | number : 0}} GB" ng-if="virtualmachine.powerState != 'deleted'">
                                    <div ui-jp="sparkline" ui-refresh="virtualmachine.memoryUsed" ui-options="[ {{(virtualmachine.memoryUsed/1024) | number : 2}}, {{((virtualmachine.memoryMax/1024)-(virtualmachine.memoryUsed/1024)) | number : 2}} ], {type:'pie', height:19, sliceColors:['#fcc100','#cccccc']}" class="sparkline inline"></div>
                                    {{virtualmachine.memoryMax/1024 | number : 0}} <small>GB</small>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'">
                                    {{virtualmachine.cpuNum}} <small>vCPU</small>
                                </td>
                                <td title="CPU usage : {{virtualmachine.cpuUsed/1000 | number : 2}} of {{virtualmachine.cpuMax/1000 | number : 1}} GHz" ng-if="virtualmachine.powerState != 'deleted'">
                                    <div ui-jp="sparkline" ui-refresh="virtualmachine.cpuUsed" ui-options="[ {{(virtualmachine.cpuUsed/1000) | number : 2}}, {{((virtualmachine.cpuMax/1000)-(virtualmachine.cpuUsed/1000)) | number : 2}} ], {type:'pie', height:19, sliceColors:['#fcc100','#cccccc']}" class="sparkline inline"></div>
                                    {{virtualmachine.cpuUsed/1000 | number : 1}} <small>GHz</small>
                                </td>
                                <td title="CPU Ready : {{virtualmachine.cpuReady}} ms ({{virtualmachine.cpuReadyPercent}} %)" ng-class="(virtualmachine.cpuReadyPercent<3)?'text-primary':'text-warn'" ng-if="virtualmachine.powerState != 'deleted'">
                                    {{virtualmachine.cpuReady | number: 0}} <small>ms</small>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'" title="{{virtualmachine.netTx/100 | number : 1}} MBps / {{virtualmachine.netRx/100 | number : 1}} MBps">
                                    <small><i class="fa fa-caret-up"></i> {{virtualmachine.netTx/100 | number : 1}} / {{virtualmachine.netRx/100 | number : 1}} <i class="fa fa-caret-down"></i> <small>MBps</small></small>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'" title="{{virtualmachine.readRate/100 | number : 1}} MBps / {{virtualmachine.writeRate/100 | number : 1}} MBps">
                                    <small><i class="fa fa-caret-up"></i> {{virtualmachine.readRate/100 | number : 1}} / {{virtualmachine.writeRate/100 | number : 1}} <i class="fa fa-caret-down"></i> <small>MBps</small></small>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'" title="{{virtualmachine.readPerSecond | number : 0}} / {{virtualmachine.writePerSecond | number : 0}}">
                                    <small><i class="fa fa-caret-up"></i> {{virtualmachine.readPerSecond | number : 0}}/{{virtualmachine.writePerSecond | number : 0}} <i class="fa fa-caret-down"></i> <small>IOps</small></small>
                                </td>
                                <td ng-if="virtualmachine.powerState != 'deleted'" title="{{virtualmachine.readLatency | number : 0}} ms / {{virtualmachine.writeLatency | number : 0}} ms">
                                    <small><i class="fa fa-caret-up"></i> {{virtualmachine.readLatency | number : 0}}/{{virtualmachine.writeLatency | number : 0}} <i class="fa fa-caret-down"></i> <small>ms</small></small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
