<div ng-if="!(pccName && datacenterId)">
<div class="p-a white lt box-shadow ng-scope">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="m-b-0 _300 ng-binding">vScope</h4>
            <small class="text-muted">Choose your Dedicated Cloud datacenter</small>
        </div>
    </div>
</div>
<div class="padding">
    <div class="row">
        <div ng-repeat="(pccName, pcc) in pccs">
            <div class="col-xs-12 col-sm-4" ng-repeat="(datacenterId, datacenter) in pcc.datacenters">
                <div class="box p-a">
                    <div class="pull-left m-r">
                        <span class="w-48 rounded accent"><i class="material-icons">&#xe2c2;</i></span>
                    </div>
                    <a class="block clear" ui-sref="pccDc({ pccName: pccName, datacenterId: datacenterId })">
                        <h4 class="m-a-0 text-lg _300">{{pccName}} - {{datacenter.name}}</h4>
                        <small class="text-muted">
                            {{pcc.managementInterface}} {{datacenter.version}}<br />
                            {{pcc.description}}<br />
                            {{datacenter.description}}
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-if="(pccName && datacenterId)">
    <div class="p-a white lt box-shadow ng-scope">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="m-b-0 _300 ng-binding">
                    {{pccName}} - {{pccs[pccName].managementInterface}} {{pccs[pccName].datacenters[datacenterId].version}} - {{pccs[pccName].commercialRange}} <br />
                </h4>
                <small class="text-muted">
                    {{pccs[pccName].description}}<br />
                    {{pccs[pccName].datacenters[datacenterId].name}} - {{pccs[pccName].datacenters[datacenterId].commercialRangeName}}
                    {{pccs[pccName].datacenters[datacenterId].description}}
                </small>
            </div>
        </div>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="box">
                    <div class="box-header">
                        <span class="label danger pull-right">{{datastores.length}}</span>
                        <h3>Datastores</h3>
                        <small>Datastores in the infrastructure</small>
                    </div>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Profile</th>
                                <th>Space Usage</th>
                                <th>Provisionned</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(datastoreId, datastore) in datastores | orderBy:'name'">
                            <tr>
                                <td title="Profile : {{datastore.fullProfile}} - Billing : {{datastore.billingType}}">
                                    {{datastore.name || 'pcc-00'+datastoreId }}
                                </td>
                                <td><small>{{datastore.fullProfile}}</small></td>
                                <td>
                                    <div ng-if="datastore.size.unit">
                                        <div ui-jp="sparkline" ui-refresh="datastore.spaceFree" ui-options="[ {{datastore.spaceFree}}, {{datastore.spaceUsed}} ], {type:'pie', height:19, sliceColors:['#cccccc','#fcc100']}" class="sparkline inline"></div>
                                        <small>{{datastore.spaceUsed | number : 1}} of {{(datastore.spaceUsed + datastore.spaceFree) | number : 0}} {{datastore.size.unit}}</small>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="datastore.size.unit">
                                        <small>{{datastore.spaceProvisionned | number : 1}} {{datastore.size.unit}} ({{datastore.vmTotal}} VMs)</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="box">
                    <div class="box-header">
                        <span class="label danger pull-right">{{hosts.length}}</span>
                        <h3>Hosts</h3>
                        <small>Hosts in the infrastructure</small>
                    </div>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Profile</th>
                                <th>Cores</th>
                                <th>vCPU</th>
                                <th>VM</th>
                                <th>CPU Usage</th>
                                <th>RAM Usage</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(hostId, host) in hosts | orderBy:'name'">
                            <tr>
                                <td title="Profile : {{host.profile}} ({{host.cpu.value}} {{host.cpu.unit}} - {{host.ram.value}} {{host.ram.unit}}) - Rack : {{host.rack}} - Billing: {{host.billingType}}">
                                    <span class="w-8 rounded m-r-sm" ng-class="getHostStateClass(host)" title="{{host.connectionState}}"></span>
                                    {{host.name || 'host'+hostId }}
                                </td>
                                <td><small>{{host.profile}}</small></td>
                                <td><small>{{host.cpuNum}}</small></td>
                                <td><small>{{host.vmVcpuTotal}}</small></td>
                                <td><small>{{host.vmTotal}}</small></td>
                                <td>
                                    <div ng-if="host.cpuMax">
                                        <div ui-jp="sparkline" ui-refresh="host.cpuUsed" ui-options="[ {{(host.cpuMax-host.cpuUsed)/1000}}, {{host.cpuUsed/1000}} ], {type:'pie', height:19, sliceColors:['#cccccc','#fcc100']}" class="sparkline inline"></div>
                                        <small>{{host.cpuUsed/1000 | number : 2}} of {{host.cpuMax/1000 | number : 1}} {{host.cpu.unit}}</small>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="host.memoryUsed">
                                        <div ui-jp="sparkline" ui-refresh="host.memoryUsed" ui-options="[ {{(host.ram.value-host.memoryUsed/1000)}}, {{host.memoryUsed/1000}} ], {type:'pie', height:19, sliceColors:['#cccccc','#fcc100']}" class="sparkline inline"></div>
                                        <small>{{host.memoryUsed/1000 | number : 1}} of {{host.ram.value | number : 0}} {{host.ram.unit}}</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <span class="label danger pull-right">{{virtualmachines.length}}</span>
                        <h3>Virtual Machines</h3>
                        <small>Virtual Machines in the infrastructure</small>
                    </div>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Filers</th>
                                <th><abbr title="Snapshots">Snap</abbr></th>
                                <th>Host</th>
                                <th><abbr title="VMWare Tools">Tools</abbr></th>
                                <th><abbr title="Fault tolerance">FT</abbr></th>
                                <th>vCPU</th>
                                <th>CPU</th>
                                <th><abbr title="CPU Ready">Ready</abbr></th>
                                <th>RAM</th>
                                <th>Net TX/RX</th>
                                <th>Disk R/W</th>
                                <th><abbr title="Disk IOs R/W">IOps R/W</abbr></th>
                                <th><abbr title="Disk latency R/W">Latency R/W</abbr></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(virtualmachineId, virtualmachine) in virtualmachines | orderBy:'name'">
                            <tr>
                                <td title="MoRef : {{virtualmachine.moRef}}">
                                    <span class="w-8 rounded m-r-sm" ng-class="getVirtualMachineStateClass(virtualmachine)" title="{{virtualmachine.powerState}}"></span>
                                    {{virtualmachine.name || 'vm-'+virtualmachineId }}
                                </td>
                                <td>
                                    <div ng-if="virtualmachine.filers" ng-repeat="filer in virtualmachine.filers | orderBy:'name'" class="inline m-r">
                                        <div ng-repeat="disk in filer.disks" class="inline" ng-if="disk.capacity" title="Filer {{(filer.name.substring(0, 13) == 'storageLocal_')?'local':filer.name}} : {{filer.committed/1000 | number : 1}} of {{disk.capacity/1000 | number : 0}} GB">
                                            <div ui-jp="sparkline" ui-refresh="disk.capacity" ui-options="[ {{filer.committed/1000 | number : 1}}, {{disk.capacity/1000-filer.committed/1000 | number : 1}} ], {type:'pie', height:19, sliceColors:['#fcc100','#cccccc']}" class="sparkline inline"></div>
                                            <small>{{(filer.name.substring(0, 13) == 'storageLocal_')?'local':filer.name}}</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="label" ng-class="(virtualmachine.snapshotNum)?'red':'green'">{{virtualmachine.snapshotNum}}</span>
                                </td>
                                <td><small>{{virtualmachine.hostName}}</small></td>
                                <td title="VMWare Tools : {{virtualmachine.vmwareToolsVersion}}">
                                    <span class="label red" ng-if="virtualmachine.vmwareToolsVersion == 'guestToolsNotInstalled'"><i class="fa fa-times"></i></span>
                                    <span class="label amber" ng-if="virtualmachine.vmwareToolsVersion == 'guestToolsSupportedOld'"><i class="fa fa-exclamation-triangle"></i></span>
                                    <span class="label green" ng-if="virtualmachine.vmwareToolsVersion == 'guestToolsCurrent'"><i class="fa fa-check"></i></span>
                                    <span class="label" ng-if="virtualmachine.vmwareToolsVersion == 'guestToolsUnmanaged'"><i class="fa fa-question-circle"></i></span>
                                </td>
                                <td>
                                    <span class="w-8 rounded m-r-sm" ng-class="getVirtualMachineFtClass(virtualmachine)" title="Fault Tolerance : {{virtualmachine.stateFt}}"></span>
                                </td>
                                <td>{{virtualmachine.cpuNum}}</td>
                                <td title="CPU usage : {{virtualmachine.cpuUsed/1000 | number : 2}} of {{virtualmachine.cpuMax/1000 | number : 1}} GHz">
                                    <div ui-jp="sparkline" ui-refresh="virtualmachine.cpuUsed" ui-options="[ {{virtualmachine.cpuUsed/1000 | number : 2}}, {{virtualmachine.cpuMax/1000-virtualmachine.cpuUsed/1000 | number : 1}} ], {type:'pie', height:19, sliceColors:['#fcc100','#cccccc']}" class="sparkline inline"></div>
                                </td>
                                <td title="CPU Ready : {{virtualmachine.cpuReady}} ms ({{virtualmachine.cpuReadyPercent}} %)" ng-class="(virtualmachine.cpuReadyPercent<3)?'text-success':'text-warn'">
                                    <small>{{virtualmachine.cpuReady | number: 0}} ms</small>
                                </td>
                                <td title="RAM usage : {{virtualmachine.memoryUsed/1000 | number : 2}} of {{virtualmachine.memoryMax/1000 | number : 0}} GB">
                                    <div ui-jp="sparkline" ui-refresh="virtualmachine.memoryUsed" ui-options="[ {{virtualmachine.memoryUsed/1000 | number : 2}}, {{virtualmachine.memoryMax/1000-virtualmachine.memoryUsed/1000 | number : 0}} ], {type:'pie', height:19, sliceColors:['#fcc100','#cccccc']}" class="sparkline inline"></div>
                                </td>
                                <td><small><i class="fa fa-caret-up"></i> {{virtualmachine.netTx/100 | number : 1}} <small>MBps</small> / <i class="fa fa-caret-down"></i> {{virtualmachine.netRx/100 | number : 1}} <small>MBps</small></small></td>
                                <td><small><i class="fa fa-caret-up"></i> {{virtualmachine.readRate/100 | number : 1}} <small>MBps</small> / <i class="fa fa-caret-down"></i> {{virtualmachine.writeRate/100 | number : 1}} <small>MBps</small></small></td>
                                <td><small>{{virtualmachine.readPerSecond | number : 0}} / {{virtualmachine.writePerSecond | number : 0}}</small></td>
                                <td><small>{{virtualmachine.readLatency | number : 0}} <small>ms</small> / {{virtualmachine.writeLatency | number : 0}} <small>ms</small></small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
