<div class="p-a white lt box-shadow ng-scope">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="m-b-0 _300 ng-binding">vScope</h4>
            <small class="text-muted">Please Log-In first</small>
        </div>
    </div>
</div>
<div class="padding">
    <div class="row">
        <div class="col-xs-12">
            <div class="box p-a text-center">
                <a class="block clear" onclick="window.location.href = '/ovhapi/login'">
                    <button class="md-btn btn-lg md-raised m-b-sm blue">Login with your OVH account</button>
                </a>
            </div>
        </div>
    </div>
</div>

