<div class="p-a white lt box-shadow ng-scope">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="m-b-0 _300 ng-binding">vScope</h4>
            <small class="text-muted">You are not logged-in. Please login first</small>
        </div>
    </div>
</div>
<div class="padding" ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-xs-6">
            <div class="box p-a text-center">
                <h5>Login with your account</h5>
                <p>
                    <a class="btn btn-fw primary btn-lg" onclick="window.location.href = '/ovhapi/login'">Login with your OVH.com account</a>
                </p>
                <p>
                    <small>
                        or, alternatively, you can<br />
                        <button class="btn btn-outline b-info text-info btn-xs" data-toggle="modal" data-target="#modal-login-token">Log-in with token</button>
                    </small>
                </p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box p-a text-center">
                <h5>Test with an existing account</h5>
                <p ng-repeat="(name, keys) in registeredTokens">
                    {{name}}<br />
                    <small>{{keys.description}}</small><br />
                    <button class="btn btn-outline b-warn text-warn btn-xs" ng-click="loginWithRegisteredTokens(name)">Log-in with this account</button>
                </p>
            </div>
        </div>
    </div>
    <div id="modal-login-token" class="modal fade" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log-in with token</h5>
                </div>
                <div class="modal-body text-center p-lg">
                    <form role="form">
                        <p>
                        Use <a href="https://api.ovh.com/createToken/">https://api.ovh.com/createToken/</a> to create tokens.<br />
                        Please allow at least : <br />
                        <small>
                            - GET /me*<br />
                            - GET /dedicatedCloud*<br />
                        </small>
                        </p>
                        <div class="form-group row">
                            <label for="applicationKey" class="col-sm-3 form-control-label">Application key</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="applicationKey" ng-model="tokenLogin.AK" placeholder="Application key (optionnal)">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="applicationSecret" class="col-sm-3 form-control-label">Application secret</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="applicationSecret" ng-model="tokenLogin.AS" placeholder="Application secret (optionnal)">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="consumerKey" class="col-sm-3 form-control-label">Consumer key *</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="consumerKey" ng-model="tokenLogin.CK" placeholder="Consumer key">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Close</button>
                    <button type="button" class="btn danger p-x-md" ng-click="loginWithCk()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>

